/* comment */

body {
	background-color: OliveDrab;

	/* text color */
	color: #3E2723;
	font-family: Goudy Old Style;
	border: 4px solid #0E6251;
	padding: 5px;
	text-align: center;
}

a { 
	color: #F5F5F5;
}
